
*.bat
*.directory
*.swo
*.swp
*.tar.gz
*.tmp
Build
Changes
META.json
META.yml
MYMETA.json
MYMETA.yml
Version.pm
_build/
_test.asciio
beating_a_star.pdf
blib/
debian/build
divers/
divers_examples/
errors/
html/
screencasts/
screenshots
todo/
