#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	perl Build.PL --installdirs vendor

override_dh_auto_install:
	./Build install --destdir=$(CURDIR)/debian/asciio --create_packlist=0

override_dh_auto_test:
	# Skip tests
	true
